.footer {
    background-color: #c3c1c1;
    color: rgb(6, 6, 6);
    width: 100%;
    min-height: 16px;
    left: 0;
    bottom: 0;
    position: fixed;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h3 {
    cursor: pointer;
    font-size: 20px;
    color: black;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .social-icons {
    margin-top: 10px;
    cursor: pointer;
  }
  
  .social-icons a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }
  