header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    margin-right: 20px;
    margin-left: 750px;
}
  
nav ul li {
    display: inline-block;
    margin-left: 2rem;
}
  
nav ul li:first-child {
    margin-right:0%; 
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}
  
.logout-icon {
    font-size: 2rem;
    margin-right: 1rem;
    
}

.logo-container {
    display: flex;
     
    align-items: center;}

.logo {
    width: 100px; 
    height: auto; 
    margin-right: 20px;
    margin-left: 10px;
}
