/* Table Container */
.table-container {
    margin: 2rem auto;
    margin-left: 5%;
    margin-right: 50%;
    
}

.custom-table {
    width: 150%;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: -20%;
}

/* Table Header */
.custom-table th {
    background-color: #f2f2f2;
    padding: 0.5rem;
    text-align: left;
}

/* Table Body */
.custom-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

/* Alternating Row Colors */
.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    
  }
  